# Blockchain
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
ADMIN_PRIVATE_KEY=
CONTRACT_ADDRESS=

# Flask
FLASK_SECRET_KEY=super_secret_key_change_me
MONGODB_URI=mongodb://127.0.0.1:27017/voting_dapp

# Frontend (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_CONTRACT_ADDRESS=
